// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: $primary-color;
  background-color: $primary-color;
}

.header-background {
  background: $charcoal;
  background-color: $charcoal;


  .columns {
    padding-bottom: 0px;

    &.-container {
      padding-right: 20px;
    }


    .button {
      padding: 8px 20px;
      background: $economy-blue;
      background-color: $economy-blue;
      color: white;
      font-weight: lighter;
      font-size: 12px;
      border-radius: 5%;
      float: right;
    }
  }


  .economist-logo {
    width: 130px;
  }
}

.date {
  background: $primary-color;
  background-color: $primary-color;
  padding-top: 20px;


  .date-format {
    // padding: 5px 0;
    font-weight: lighter;
    font-size: 12px;
    // margin: 0;
  }

  .-container {
    float: right;
    font-size: 12px;
    font-weight: 600;
    color: $charcoal;

  }
}

.today-section {
  background: #FFFFFF;
  background-color: #FFFFFF;

  h1 {
    .title {
      font-size: 40px;
      font-family: 'Ibarra Real Nova', serif;
    }
  }


  p {
    .tagline {
      color: $charcoal;
      font-weight: 100;
    }
  }

  img {
    .economist_penchant {
      width: 25px !important;
    }
  }

}