// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: $primary-color;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}


// Date Section
.date {
  background: $primary-color;
  background-color: $primary-color;
  padding-top: 20px;

  .columns {
    padding-top: 10px;
    padding-bottom: 0;
    ;
  }


  .date-format {
    // padding: 5px 0;
    font-weight: lighter;
    font-size: 14px;
    color: $charcoal;
    // margin: 0;
  }

  .-container {
    float: right;
    font-size: 14px;
    font-weight: 600;
    color: $charcoal;

  }
}

.title-section {
  background: #FFFFFF;
  background-color: #FFFFFF;

  .columns {
    h1 {
      font-size: 36px;
      font-family: 'Ibarra Real Nova', serif;
    }

    p {
      color: $charcoal;
      font-weight: 100;
      font-size: 16px;
    }

    img {
      width: 25px;
    }
  }

}