<container>
  <!-- Header Logo Subscription -->
  <row class="header-background collapse">
    <columns>
      <img src="{{ root }}assets/img/economist_files/economist_logo.png" class="economist-logo">
    </columns>
    <columns valign="middle" class="-container">
      <a href="#" class="button">Subscribe</a>
    </columns>
  </row>
  <!-- Date -->
  <row class="date collapse">
    <columns valign="top" style="padding:10px 0 0 0; padding-bottom: 0;">
      <p class="date-format">January 11th 2020</p>
    </columns>
    <columns valign="top" style="padding:10px 0 0 0; padding-bottom: 0;">
      <a href="#" class="-container">Read in browser</a>
    </columns>
  </row>
  <!-- today -->
  <row class="today-section">
    <spacer size="45"></spacer>
    <h1 class="title text-center" style="font-size: 36px;
    font-family: 'Ibarra Real Nova', serif;"><em>The Economist</em> today</h1>
    <p class="tagline text-center" style="color: #383E42;
    font-weight: 100;">The best of our journalism, handpicked each day</p>
    <row>
      <center><img src="{{ root }}assets/img/economist_files/economist_penchant.png" class="economist-penchant"
          style="width: 25px;">
      </center>
    </row>
    <spacer size="45"></spacer>
  </row>
</container>