<!-- Header Logo Subscription -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="header" style="background-color: #383E42;">
    <td>
      <table width="580" align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td>
            <img src="{{ root }}assets/img/economist_files/economist_logo.png" style="width: 125px;">
          </td>
          <td style="padding-top: 15px;">
            <a href="#" class="button" style="background-color:  #3E51B5; padding: 8px 20px;  color: #fff;  font-weight: lighter; font-size: 12px; border-radius: 5%;
              float: right;">
              Subscribe</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<container>
  <!-- <row class="header">
    <columns class="logo collapse" small="6">
      <img src="{{ root }}assets/img/economist_files/economist_logo.png" class="economist-logo">
    </columns>
    <columns small="6">
      <a href="#" class="button">Subscribe</a>
    </columns>
  </row> -->

  <!-- Date -->
  <row class="date collapse">
    <columns small="6" valign="top">
      <p class="date-format">January 11th 2020</p>
    </columns>
    <columns small="6" valign="top" style="padding:10px 0 0 0; padding-bottom: 0;">
      <a href="#" class="-container">Read in browser</a>
    </columns>
  </row>

  <!-- today -->
  <row class="title-section">
    <columns>
      <spacer size="45"></spacer>
      <h1 class="title text-center"><em>The Economist</em> today</h1>
      <p class="tagline text-center">The best of our journalism, handpicked each day</p>
      <row>
        <center><img src="{{ root }}assets/img/economist_files/economist_penchant.png" class="economist-penchant">
        </center>
      </row>
      <spacer size="20"></spacer>
    </columns>
  </row>

</container>